<section class="container-chat">

  <h1 class="h1-chat">Welcome to Group Chat</h1>

  <div class="content-chat">

    <div class="sidebar-chat">
      <h2 class="h2-chat">Users</h2>
      <div class="sidebar-conatiner-chat"></div>
    </div>

      <div class="span-9">
        <div class="messages-chat">
          <h2 class="h2-chat">Friendly Messenger</h2>
          <div class="messages-container-chat"></div>
        </div>

        <div class="comment-chat">
          <h2 class="h2-chat">Write a Comment!</h2>
          <form class="leave-comment-chat">
            <input class="leave-comment-chat-messages" type="text" placeholder="Comment">
            <input type="submit" value="Enter">
          </form>
        </div>
      </div>

  </div>


</section>
