@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

//Chat.hbs styling

.container-chat{
  background-color:blue;
  height:1000px;
  @include outer-container(1200px);
}

.h1-chat{
  text-align:center;
  color:white;
  padding:10px;
  text-decoration: underline;
}

.content-chat{
  @include span-columns(12);

}

.sidebar-chat{
  @include span-columns(3 of 12);
  text-align:center;
  height:auto;
  color:white;
}

.span-9{
  @include span-columns(9 of 12);
}

.messages-chat{
  color:white;
  text-align:center;
}

.comment-chat{
  background-color:white;
  color:black;
  text-align:center;
}

.h2-chat{

}
